<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.apes.ooh" version="0.9.1">
    <name>OOH</name>
    <description>Dorset Creative</description>
    <author email="" href="http://dorsetcreative.co.uk/">admin</author>
    <access origin="*"/>
    <content src="index.html"/>
    
    <gap:plugin name="org.apache.cordova.camera"/>
    <gap:plugin name="org.apache.cordova.file"/>
    <gap:plugin name="org.apache.cordova.file-transfer"/>
    <gap:plugin name="org.apache.cordova.dialogs"/>
    <gap:plugin name="org.apache.cordova.device"/>
    <gap:plugin name="org.apache.cordova.device-orientation"/>
    <gap:plugin name="org.apache.cordova.console"/>
    <gap:plugin name="org.apache.cordova.network-information"/>
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.inappbrowser"/>
    <!--<gap:plugin name="org.devgeeks.canvas2imageplugin"/>-->
    <!--<gap:plugin name="com.apes.plugins.canvastodataurl"/>-->
    <gap:plugin name="net.bgta.phonegap.plugin.appversion" />
    

    
    
    
    <preference name="fullscreen" value="false"/>
    <preference name="webviewbounce" value="true"/>
    
    <preference name="orientation" value="both"/> <!-- landscape portrait -->
    <preference name="target-device" value="universal"/>
    <preference name="fullscreen" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="KeyboardShrinksView" value="false"/>
    
    <preference name="android-windowSoftInputMode" value="stateUnchanged|adjustResize"/>
    <preference name="android-minSdkVersion" value="7"/>
    <!--<preference name="android-maxSdkVersion" value="16"/>-->
    <preference name="android-targetSdkVersion" value="16"/>
    <preference name="phonegap-version" value="3.5.0"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="webviewbounce" value="false"/>
    
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="10000"/>
    
    
    
    <icon src="res/icon/icon.png"/>
    <gap:splash src="res/screen/screen.png"/>
    <!-- -->
    <icon gap:platform="android" height="96" src="res/icon/android/icon-96-xhdpi.png" width="96"/>
    <icon gap:platform="android" height="72" src="res/icon/android/icon-72-hdpi.png" width="72"/>
    <icon gap:platform="android" height="48" src="res/icon/android/icon-48-mdpi.png" width="48"/>
    <icon gap:platform="android" height="36" src="res/icon/android/icon-36-ldpi.png" width="36"/>
    
    <gap:splash gap:platform="android" height="800" src="res/screen/android/screen-hdpi-portrait.png" width="480"/>
    <gap:splash gap:platform="android" height="320" src="res/screen/android/screen-hdpi-portrait.png" width="200"/>
    <gap:splash gap:platform="android" height="480" src="res/screen/android/screen-hdpi-portrait.png" width="320"/>
    <gap:splash gap:platform="android" height="1280" src="res/screen/android/screen-hdpi-portrait.png" width="720"/>
    
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57"/>
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72"/>
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114"/>
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144"/>
    <icon gap:platform="ios" height="120" src="res/icon/ios/icon-120.png" width="120"/>
    <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768"/>
    <gap:splash gap:platform="ios" height="2048" src="res/screen/ios/screen-ipad-portrait-2x.png" width="1536"/>
    <gap:splash gap:platform="ios" height="480" src="res/screen/screen.png" width="320"/>
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640"/>
    <gap:splash gap:platform="ios" height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640"/>
    
</widget>
